---
layout: archive
title: "The Codex Cronenberg"
permalink: /crodex/
author_profile: true
---

<h2>I am still learning the HTML I will need to properly format the images and such for this. </h2><br />
For now, the best I got is links to my Letterboxd List for the project and my Larger Writeup on tumblr<br />

<p style="text-align: center;">
  <h1>What does it mean to change?</h1>
</p>
  
<h2>The Codex Cronenberg:</h2>
<p style="text-align: justify; text-indent: 40px;">
David Cronenberg is a director that keeps popping up on the periphery of movies that I watch. Everyone I know has a favorite Cronenberg, everyone seems to walk away from his movies with completely different interpretations of his work and what it all means.
</p>

<p style="text-align: justify; text-indent: 40px;">
This is one of the most valuable cinematic experiences I have ever had, I was surprised at what I found in his works and just how thoroughly he developed some of the same ideas over and over in every film he makes.
</p>

<p style="text-align: justify; text-indent: 40px;">
There's almost 40 movies here and even doing one paragraph for each would drive me insane so I'm going to be pairing and tripling them up and discussing their overlaps more so than the movies individually.
</p>
</br>

<ul>
  <li><a href="https://boxd.it/Rrrom" target="_blank" rel="nofollow">
    <img src="https://github.com/fidelity-ofc/fidelity-ofc.github.io/blob/master/images/scall.png?raw=true" alt="gonions" width="100" height="100" />
    <br />
  
</a>Letterboxd List</li>
  <li><a href="https://manipulated-pieces.tumblr.com/post/816018386672828416/what-does-it-mean-to-change" target="_blank" rel="nofollow">
  Tumblr Writeup
</a></li>
</ul>

<style>
  .cronenberg-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    margin: 20px 0;
  }
  
  .grid-cell {
    aspect-ratio: 1;
    overflow: hidden;
  }
  
  .grid-cell img {
    width: 100%;
    height: 167%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  
  .grid-cell a:hover img {
    transform: scale(1.05);
  }
</style>

<div class="cronenberg-grid">
  <div class="grid-cell"><a href="https://boxd.it/cw79BX" target="_blank" rel="external nofollow"><img src="https://github.com/fidelity-ofc/fidelity-ofc.github.io/blob/master/images/cronenthumbs/01.jpg?raw=true" alt="Movie 01" /></a></div>
  <div class="grid-cell"><a href="https://boxd.it/cMldBp" target="_blank" rel="external nofollow"><img src="https://github.com/fidelity-ofc/fidelity-ofc.github.io/blob/master/images/cronenthumbs/02.jpg?raw=true" alt="Movie 02" /></a></div>
  <div class="grid-cell"><a href="https://boxd.it/cyMsyD" target="_blank" rel="external nofollow"><img src="https://github.com/fidelity-ofc/fidelity-ofc.github.io/blob/master/images/cronenthumbs/03.jpg?raw=true" alt="Movie 03" /></a></div>
  <div class="grid-cell"><a href="https://boxd.it/cCszAd" target="_blank" rel="external nofollow"><img src="https://github.com/fidelity-ofc/fidelity-ofc.github.io/blob/master/images/cronenthumbs/04s.jpg?raw=true" alt="Movie 04" /></a></div>
  <div class="grid-cell"><a href="https://boxd.it/dnChSr" target="_blank" rel="external nofollow"><img src="https://github.com/fidelity-ofc/fidelity-ofc.github.io/blob/master/images/cronenthumbs/05ip.jpg?raw=true" alt="Movie 05" /></a></div>
  <div class="grid-cell"><a href="https://boxd.it/cEqAcF" target="_blank" rel="external nofollow"><img src="https://github.com/fidelity-ofc/fidelity-ofc.github.io/blob/master/images/cronenthumbs/06r.jpg?raw=true" alt="Movie 06" /></a></div>
  <div class="grid-cell"><a href="https://www.tumblr.com/manipulated-pieces/805379669919727616" target="_blank" rel="external nofollow"><img src="https://github.com/fidelity-ofc/fidelity-ofc.github.io/blob/master/images/cronenthumbs/07t.jpg?raw=true" alt="Movie 07" /></a></div>
  <div class="grid-cell"><a href="https://boxd.it/cF3jOl" target="_blank" rel="external nofollow"><img src="https://github.com/fidelity-ofc/fidelity-ofc.github.io/blob/master/images/cronenthumbs/08fc.jpg?raw=true" alt="Movie 08" /></a></div>
  <div class="grid-cell"><a href="https://boxd.it/cG8Anb" target="_blank" rel="external nofollow"><img src="https://github.com/fidelity-ofc/fidelity-ofc.github.io/blob/master/images/cronenthumbs/09.jpg?raw=true" alt="Movie 09" /></a></div>
  <div class="grid-cell"><a href="https://boxd.it/cIrJHl" target="_blank" rel="external nofollow"><img src="https://github.com/fidelity-ofc/fidelity-ofc.github.io/blob/master/images/cronenthumbs/10.jpg?raw=true" alt="Movie 10" /></a></div>
  <div class="grid-cell"><a href="https://boxd.it/cJC7kf" target="_blank" rel="external nofollow"><img src="https://github.com/fidelity-ofc/fidelity-ofc.github.io/blob/master/images/cronenthumbs/11.jpg?raw=true" alt="Movie 11" /></a></div>
  <div class="grid-cell"><a href="https://boxd.it/cLHb5B" target="_blank" rel="external nofollow"><img src="https://github.com/fidelity-ofc/fidelity-ofc.github.io/blob/master/images/cronenthumbs/12.jpg?raw=true" alt="Movie 12" /></a></div>
  <div class="grid-cell"><a href="https://boxd.it/cMF17x" target="_blank" rel="external nofollow"><img src="https://github.com/fidelity-ofc/fidelity-ofc.github.io/blob/master/images/cronenthumbs/13.jpg?raw=true" alt="Movie 13" /></a></div>
  <div class="grid-cell"><a href="https://boxd.it/cP3OMZ" target="_blank" rel="external nofollow"><img src="https://github.com/fidelity-ofc/fidelity-ofc.github.io/blob/master/images/cronenthumbs/14.jpg?raw=true" alt="Movie 14" /></a></div>
  <div class="grid-cell"><a href="https://boxd.it/cRGrHX" target="_blank" rel="external nofollow"><img src="https://github.com/fidelity-ofc/fidelity-ofc.github.io/blob/master/images/cronenthumbs/15.jpg?raw=true" alt="Movie 15" /></a></div>
  <div class="grid-cell"><a href="https://boxd.it/cQslzV" target="_blank" rel="external nofollow"><img src="https://github.com/fidelity-ofc/fidelity-ofc.github.io/blob/master/images/cronenthumbs/16.jpg?raw=true" alt="Movie 16" /></a></div>
  <div class="grid-cell"><a href="https://boxd.it/cQN4HP" target="_blank" rel="external nofollow"><img src="https://github.com/fidelity-ofc/fidelity-ofc.github.io/blob/master/images/cronenthumbs/17.jpg?raw=true" alt="Movie 17" /></a></div>
  <div class="grid-cell"><a href="https://boxd.it/cZPkwj" target="_blank" rel="external nofollow"><img src="https://github.com/fidelity-ofc/fidelity-ofc.github.io/blob/master/images/cronenthumbs/18.jpg?raw=true" alt="Movie 18" /></a></div>
  <div class="grid-cell"><a href="https://www.youtube.com/watch?v=CopaMoPaJK8" target="_blank" rel="external nofollow"><img src="https://github.com/fidelity-ofc/fidelity-ofc.github.io/blob/master/images/cronenthumbs/19.png?raw=true" alt="Movie 19" /></a></div>
  <div class="grid-cell"><a href="https://boxd.it/cw79BX" target="_blank" rel="external nofollow"><img src="https://github.com/fidelity-ofc/fidelity-ofc.github.io/blob/master/images/cronenthumbs/19.jpg?raw=true" alt="Movie 20" /></a></div>
  <div class="grid-cell"><a href="https://boxd.it/d8gltL" target="_blank" rel="external nofollow"><img src="https://github.com/fidelity-ofc/fidelity-ofc.github.io/blob/master/images/cronenthumbs/21.jpg?raw=true" alt="Movie 21" /></a></div>
  <div class="grid-cell"><a href="https://boxd.it/cTgzD1" target="_blank" rel="external nofollow"><img src="https://github.com/fidelity-ofc/fidelity-ofc.github.io/blob/master/images/cronenthumbs/22.jpg?raw=true" alt="Movie 22" /></a></div>
  <div class="grid-cell"><a href="https://boxd.it/ddxxXd" target="_blank" rel="external nofollow"><img src="https://github.com/fidelity-ofc/fidelity-ofc.github.io/blob/master/images/cronenthumbs/23.png?raw=true" alt="Movie 23" /></a></div>
  <div class="grid-cell"><a href="https://boxd.it/dfiHkX" target="_blank" rel="external nofollow"><img src="https://github.com/fidelity-ofc/fidelity-ofc.github.io/blob/master/images/cronenthumbs/24.png?raw=true" alt="Movie 24" /></a></div>
  <div class="grid-cell"><a href="https://boxd.it/cPFrlx" target="_blank" rel="external nofollow"><img src="https://github.com/fidelity-ofc/fidelity-ofc.github.io/blob/master/images/cronenthumbs/25.jpg?raw=true" alt="Movie 25" /></a></div>
  <div class="grid-cell"><a href="https://boxd.it/dgFesX" target="_blank" rel="external nofollow"><img src="https://github.com/fidelity-ofc/fidelity-ofc.github.io/blob/master/images/cronenthumbs/26.jpg?raw=true" alt="Movie 26" /></a></div>
  <div class="grid-cell"><a href="https://boxd.it/dorSfD" target="_blank" rel="external nofollow"><img src="https://github.com/fidelity-ofc/fidelity-ofc.github.io/blob/master/images/cronenthumbs/27.png?raw=true" alt="Movie 27" /></a></div>
  <div class="grid-cell"><a href="https://boxd.it/dE14RT" target="_blank" rel="external nofollow"><img src="https://github.com/fidelity-ofc/fidelity-ofc.github.io/blob/master/images/cronenthumbs/28.jpg?raw=true" alt="Movie 28" /></a></div>
  <div class="grid-cell"><a href="https://boxd.it/dzvoL7" target="_blank" rel="external nofollow"><img src="https://github.com/fidelity-ofc/fidelity-ofc.github.io/blob/master/images/cronenthumbs/29.jpg?raw=true" alt="Movie 29" /></a></div>
  <div class="grid-cell"><a href="https://boxd.it/dwrwbr" target="_blank" rel="external nofollow"><img src="https://github.com/fidelity-ofc/fidelity-ofc.github.io/blob/master/images/cronenthumbs/30.jpg?raw=true" alt="Movie 30" /></a></div>
  <div class="grid-cell"><a href="https://boxd.it/dE14RT" target="_blank" rel="external nofollow"><img src="https://github.com/fidelity-ofc/fidelity-ofc.github.io/blob/master/images/cronenthumbs/31.jpg?raw=true" alt="Movie 31" /></a></div>
  <div class="grid-cell"><a href="https://boxd.it/d9BAkb" target="_blank" rel="external nofollow"><img src="https://github.com/fidelity-ofc/fidelity-ofc.github.io/blob/master/images/cronenthumbs/32.jpg?raw=true" alt="Movie 32" /></a></div>
  <div class="grid-cell"><a href="https://boxd.it/e5hJHl" target="_blank" rel="external nofollow"><img src="https://github.com/fidelity-ofc/fidelity-ofc.github.io/blob/master/images/cronenthumbs/33.jpg?raw=true" alt="Movie 33" /></a></div>
  <div class="grid-cell"><a href="https://boxd.it/edygVz" target="_blank" rel="external nofollow"><img src="https://github.com/fidelity-ofc/fidelity-ofc.github.io/blob/master/images/cronenthumbs/34.jpg?raw=true" alt="Movie 34" /></a></div>
  <div class="grid-cell"><a href="https://boxd.it/ebqusR" target="_blank" rel="external nofollow"><img src="https://github.com/fidelity-ofc/fidelity-ofc.github.io/blob/master/images/cronenthumbs/35.jpg?raw=true" alt="Movie 35" /></a></div>
  <div class="grid-cell"><a href="https://boxd.it/cNiyUP" target="_blank" rel="external nofollow"><img src="https://github.com/fidelity-ofc/fidelity-ofc.github.io/blob/master/images/cronenthumbs/36.jpg?raw=true" alt="Movie 36" /></a></div>
  <div class="grid-cell"><a href="https://boxd.it/eeGIsP" target="_blank" rel="external nofollow"><img src="https://github.com/fidelity-ofc/fidelity-ofc.github.io/blob/master/images/cronenthumbs/37.jpg?raw=true" alt="Movie 37" /></a></div>
  <div class="grid-cell"><a href="https://boxd.it/d1ygqb" target="_blank" rel="external nofollow"><img src="https://github.com/fidelity-ofc/fidelity-ofc.github.io/blob/master/images/cronenthumbs/38.jpg?raw=true" alt="Movie 38" /></a></div>
  <div class="grid-cell"><a href="https://boxd.it/ef7ygj" target="_blank" rel="external nofollow"><img src="https://github.com/fidelity-ofc/fidelity-ofc.github.io/blob/master/images/cronenthumbs/39.jpg?raw=true" alt="Movie 39" /></a></div>
  <div class="grid-cell"><img src="https://github.com/fidelity-ofc/fidelity-ofc.github.io/blob/master/images/CliffWalk.gif?raw=true"width="75" height="75" /></div>
</div>

</br>
</br>

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
