---
layout: archive
title: "Anonymized Tarot Readings"
permalink: /tarot/
author_profile: true
---

<p>I am not a professional tarot reader. I live in a world of symbols and connected meanings, of art and analysis, of exegesis and eisegesis. A World of Correspondences. Without a medium, a story cannot exist so I follow the ritual of tarot as that medium.</p>
<img src="https://github.com/fidelity-ofc/fidelity-ofc.github.io/blob/master/images/5cup.png?raw=true" style="float: right; margin-right: 30px; border: double 6px; border-radius: 5%;">
<p>We infuse meaning into our actions through ritual, through performance. I do not believe in the ability for a tarot reading to predict an objective future or observe an objective past. It cannot affect matter, it emanates no energy. Yet people make decisions based on cards, they find meaning within them and try to manifest that meaning into reality.  Dorothy Gale is not a real woman but she has shaped the world in a fundamental way through people's exploration of her. She is nothing but a collection of ideas, scripts, camerawork, acting, and art but we treat her as an individual and she shapes reality through our performance of belief. The United States Dollar only has value because of our continued performance of the ritual of commerce, of the collected belief that surely it carries value.</p>
<h5>This is also tarot.</h5>

<p>Here will be the archived readings I have done for others. So far, I have a 3/4 hitrate on "Wow! I felt like this was a useful experience for me!" I only work by request and I only work for free. I'll add a way to reach out on this page somewhere soon. Until then, you have my letterboxd and my tumblr in the sidebar.</p>

<br>
<br>
<h4><a href="https://github.com/fidelity-ofc/fidelity-ofc.github.io/blob/master/files/TATAROT.pdf?raw=true">T.A.R.O.T - Triangle Agency Randomized Onboarding Terminal</a></h4>
<p>A Triangle Agency module for performing a tarot reading. It's a much cleaner version of what I said up there, if you are cool.</p>

{% include base_path %}


{% for post in site.tarot %}
  {% include archive-single.html %}
{% endfor %}


